<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SampleSuite" parallel="methods" thread-count="6">

	<test name="Regression">

		<classes>
			<class name="com.slokam.automation.testscripts.Sample1" />
			<class name="com.slokam.automation.testscripts.Sample2" />
		</classes>
	</test>


</suite>